@main("Forum") {
	<script type="text/javascript">
	function getPosts() {
		$("#posts").empty();
		$("#refresh").after("<span id=" + '"loading"' + ">loading...</spam>")
		$.getJSON('/post', function(json) {
			$("#posts li").empty();
			for(var i = json.length-1; i >= 0; i--){
				$("#posts").prepend("<li>" + json[i].msg + "</li>");
			}
			$("#loading").fadeOut();
		});
	}
	</script>
	
	<span id="title"> Posts: </span>
	<button id="refresh" type="button" onclick="getPosts()">Refresh</button>
	
	<ul id=posts></ul>
}